@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 90%;
  font-weight: 300;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 90px;
  overflow: hidden;
  z-index: 1;
}
header .bg__header__image {
  position: absolute;
  background-image: url("../images/bg-pattern-intro-desktop.svg");
  width: 100%;
  height: 100%;
  background-position: 30% 52%;
  background-size: 200%;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.nav {
  z-index: 10;
  height: 150px;
  width: 85vw;
  box-sizing: border-box;
  display: flex;
}
.nav > * {
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
}
.nav .nav__st__logo {
  padding: 0px 15px;
}
.nav .nav__st__logo img {
  width: 85px;
}
.nav .nav__st {
  justify-content: flex-start;
}
.nav .nav__st .nav__st__logo {
  padding: 0px 30px;
}
.nav .nav__st .nav__st__item {
  /*
  .nav__st__item__title:hover ~ .nav__st__item__body {
  	opacity: 1;
  	z-index: 10;
  }
  .nav__st__item__body:hover {
  	opacity: 1;
  	z-index: 10;
  }
  */
}
.nav .nav__st .nav__st__item .nav__st__item__title {
  position: relative;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.831372549);
  padding: 20px 10px;
  cursor: pointer;
  transition: 300ms;
  font-size: 1.2em;
}
.nav .nav__st .nav__st__item .nav__st__item__title img {
  padding: 0px 3px;
  transition: 300ms;
}
.nav .nav__st .nav__st__item .nav__st__item__title::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 10px;
  bottom: 22px;
  background-color: hsl(0, 0%, 100%);
  transition: 300ms;
}
.nav .nav__st .nav__st__item .nav__st__item__body {
  position: relative;
  display: none;
  transition: 300ms;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 15px 10px;
  width: 110px;
  box-shadow: 0px 10px 15px rgba(47, 47, 47, 0.5058823529);
  top: 100px;
  list-style-type: none;
}
.nav .nav__st .nav__st__item .nav__st__item__body li {
  padding: 5px 10px;
}
.nav .nav__st .nav__st__item .nav__st__item__body a {
  text-decoration: none;
  color: hsl(240, 10%, 16%);
}
.nav .nav__st .nav__st__item .nav__st__item__body a:hover {
  font-weight: 600;
}
.nav .nav__st .nav__st__item.is--active .nav__st__item__title {
  /*
      text-decoration: underline;
  */
  color: hsl(0, 0%, 100%);
}
.nav .nav__st .nav__st__item.is--active .nav__st__item__title img {
  transform: rotate(-180deg);
}
.nav .nav__st .nav__st__item.is--active .nav__st__item__title::after {
  width: 62%;
}
.nav .nav__st .nav__st__item.is--active .nav__st__item__body {
  z-index: 20;
  display: block;
}
.nav .nav__end {
  justify-content: flex-end;
}
.nav .nav__end .nav__end__item {
  padding: 10px 10px;
}
.nav .nav__end .nav__end__item > * {
  cursor: pointer;
  font-weight: 600;
  padding: 0px 10px;
  font-size: 1.2em;
  text-decoration: none;
}
.nav .nav__end .nav__end__item .nav__end__item__login {
  color: rgba(255, 255, 255, 0.831372549);
}
.nav .nav__end .nav__end__item .nav__end__item__login:hover {
  color: hsl(0, 0%, 100%);
}
.nav .nav__end > .nav__end__burger {
  display: none;
}

.button {
  display: flex;
  height: 45px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  font-weight: 600;
  justify-content: center;
  align-items: center;
  transition: 300ms;
  text-decoration: none;
  border: 1px solid transparent;
  width: 110px;
  font-size: 1.2em;
  line-height: 0px;
}

.button.is-bgless {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.button:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}

.button.is-bgless:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(355, 100%, 74%);
}

.header__banner {
  flex-grow: 1;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__banner .header__banner__title {
  margin-top: 40px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header__banner .header__banner__title h1 {
  font-size: 4em;
  padding: 15px 0px;
}
.header__banner .header__banner__title h1 br {
  display: none;
}
.header__banner .header__banner__title h2 {
  font-size: 1.2em;
  font-weight: 400;
}
.header__banner .header__banner__button {
  margin-top: 20px;
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
}
.header__banner .header__banner__button > * {
  margin: 0px 10px;
}
.header__banner .header__banner__button .button {
  width: 150px;
}

.hamburger {
  display: none;
}

.box {
  margin-top: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.box .box__title {
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 2.4em;
  color: hsl(208, 49%, 24%);
  font-weight: 600;
}
.box .box__body {
  display: flex;
  height: 60%;
}
.box .box__body > * {
  flex-grow: 1;
  color: hsl(208, 49%, 24%);
  box-sizing: border-box;
}
.box .box__body .box__body__text {
  display: block;
  max-width: 55%;
  padding-left: 10%;
  padding-right: 10%;
}
.box .box__body .box__body__text .box__body__text__item {
  margin-bottom: 50px;
}
.box .box__body .box__body__text h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}
.box .box__body .box__body__text p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.box .box__image {
  position: absolute;
  top: 0px;
  width: 50vw;
  height: 100%;
  background-size: 800px;
  background-repeat: no-repeat;
}
.box .box__image.editor {
  background-image: url("../images/illustration-editor-desktop.svg");
  background-position: 90px 50%;
  right: 0px;
}

.box.is--reversed .box__image {
  left: 0px;
}
.box.is--reversed .box__image.laptop {
  background-image: url("../../images/illustration-laptop-desktop.svg");
  background-position: -250px 15%;
  background-size: 900px;
}
.box.is--reversed .box__body {
  justify-content: flex-end;
  height: 100%;
}
.box.is--reversed .box__body .box__body__text {
  padding-left: 4%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 50px 0px;
  background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  z-index: 3;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
}
.info .info__bg__image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 100px;
  position: absolute;
  background-image: url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -30% 87%;
  background-size: 60%;
  z-index: 3;
}
.info .info__image {
  position: relative;
  top: -32%;
  left: 5%;
  flex-grow: 1;
  z-index: 4;
}
.info .info__text {
  flex-grow: 1;
  max-width: 50%;
  position: relative;
  z-index: 5;
  padding-right: 13%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info .info__text * {
  color: hsl(0, 0%, 100%);
}
.info .info__text h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
}
.info .info__text p {
  font-size: 1.2em;
  line-height: 1.7em;
}

footer {
  height: 350px;
  width: 100%;
  background-color: hsl(240, 10%, 16%);
  padding: 90px 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  border-top-right-radius: 100px;
}
footer * {
  color: hsl(240, 2%, 79%);
  font-family: "Ubuntu", sans-serif;
}
footer .footer__item__title {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 1.2em;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 1.2em;
}
footer ul li a {
  position: relative;
  text-decoration: none;
}
footer ul li a::after {
  content: "";
  background-color: hsl(240, 2%, 79%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 1px;
  transition: 300ms;
}
footer ul li a:hover::after {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----- *\
- Responsive
\* ----- */
@media screen and (min-width: 1400px) {
  .box__image.editor {
    right: -50px !important;
  }
}
@media screen and (max-width: 900px) {
  .button {
    font-weight: 1.3em;
    width: 130px;
    height: 45px;
  }
  .nav .nav__st > * {
    display: none;
  }
  .nav .nav__st .nav__st__logo {
    display: block;
    padding: 0px;
  }
  .nav .nav__st .nav__st__logo img {
    width: 85px;
  }
  .nav .nav__end > * {
    display: none;
  }
  .nav .nav__end > .nav__end__burger {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 300ms;
  }
  .nav .nav__end > .nav__end__burger.is--active {
    background-image: url("../images/icon-close.svg");
  }
  header {
    height: 600px;
    background-image: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  }
  header .bg__header__image {
    background-size: 380%;
    background-position: 38% 35%;
    background-image: url("../images/bg-pattern-intro-mobile.svg");
  }
  .header__banner .header__banner__title h1 {
    font-size: 2.3em;
    padding: 0px 20px;
    margin-bottom: 20px;
  }
  .header__banner .header__banner__title h1 br {
    display: inline-block;
  }
  .header__banner .header__banner__title h2 {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0px 35px;
  }
  .box {
    margin-top: 0px;
    height: 1310px;
    justify-content: space-between;
  }
  .box .box__title {
    height: 250px;
    align-items: center;
    font-size: 1.8em;
  }
  .box .box__body {
    height: max-content;
  }
  .box .box__body > * {
    text-align: center;
  }
  .box .box__body .box__body__text {
    max-width: none;
    width: 100vw;
    padding: 80px 40px;
  }
  .box .box__body .box__body__text h1 {
    font-size: 1.8em;
  }
  .box .box__body .box__body__text p {
    font-size: 1.1em;
  }
  .box .box__image {
    height: 700px;
    width: 100vw;
    background-size: 110vw;
  }
  .box .box__image.editor {
    background-image: url("../images/illustration-editor-mobile.svg");
    background-position: center;
    left: 0px;
  }
  .box.is--reversed {
    height: 1050px;
    justify-content: flex-end;
  }
  .box.is--reversed .box__body {
    height: 70%;
  }
  .box.is--reversed .box__body > * {
    text-align: center;
  }
  .box.is--reversed .box__body .box__body__text {
    padding: 100px 40px 80px 40px;
  }
  .box.is--reversed .box__image.laptop {
    height: 400px;
    background-image: url("../images/illustration-laptop-mobile.svg");
    background-position: center;
    left: 0px;
    background-size: 140vw;
  }
  .info {
    margin-top: 150px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  }
  .info > * {
    padding: 0px;
  }
  .info .info__bg__image {
    border-top-right-radius: 100px;
    background-position: 50% -230px;
    overflow: hidden;
    background-size: 160%;
  }
  .info .info__image {
    left: 0px;
    top: -30%;
    max-height: 30%;
  }
  .info .info__image img {
    width: 100vw;
  }
  .info .info__text {
    text-align: center;
    max-width: none;
    height: 90%;
    padding: 40px;
  }
  .info .info__text h1 {
    font-size: 2.5em;
  }
  .info .info__text p {
    font-size: 1.1em;
  }
  .hamburger {
    position: absolute;
    top: 130px;
    left: 0px;
    opacity: 0;
    display: flex;
    width: 100vw;
    min-height: 75vh;
    height: 75vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  .hamburger > .hamburger__menu {
    width: 90%;
    height: 100%;
    overflow-y: auto;
    padding: 20px 25px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgba(47, 47, 47, 0.2588235294);
    display: flex;
    flex-direction: column;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list > .hamburger__menu__list__title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 60px;
    font-weight: 600;
    font-size: 1.2em;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list > .hamburger__menu__list__title img {
    margin-left: 7px;
    transition: 300ms;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list > .hamburger__menu__list__title.is--active img {
    transform: rotate(-180deg);
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list > ul {
    display: none;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list > ul > li {
    list-style-type: none;
    cursor: pointer;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list > ul > li a {
    text-decoration: none;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list ul.is--active {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    background-color: #efeff1;
    border-radius: 5px;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list ul.is--active > li {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger > .hamburger__menu > .hamburger__menu__list ul.is--active > li a {
    color: hsl(207, 13%, 34%);
    font-weight: 600;
    font-size: 1.1em;
  }
  .hamburger > .hamburger__menu .hamburger__menu__button {
    flex-grow: 1;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #efeff1;
  }
  .hamburger > .hamburger__menu .hamburger__menu__button button {
    width: 130px;
    height: 45px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: "Overpass", sans-serif;
    font-size: 1.2em;
    border: 0px;
    background-color: transparent;
    border-radius: 100px;
  }
  .hamburger > .hamburger__menu .hamburger__menu__button button.is--primary {
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  }
  .hamburger.is--active {
    opacity: 1;
    z-index: 12;
  }
  footer {
    height: max-content;
    grid-template-columns: 1fr;
    padding-bottom: 10px;
  }
  footer > * {
    text-align: center;
    margin: 20px 0px;
  }
  footer ul li {
    font-size: 1.2em;
  }
  footer .footer__item__title {
    color: hsl(0, 0%, 100%);
  }
}

/*# sourceMappingURL=style.css.map */
